{% extends 'base.html' %}
{% block title %}Edit {{user.whole_name()}}{% endblock %}

    {% block content %}
    <title>Edit {{user.whole_name()}}</title>

        <form class="content" action="/user-details/{{user.id}}" method="POST">
            <h1>Edit {{user.whole_name()}}'s details</h1>
            
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input class="form-control" type="text" name="first_name" placeholder="{{user.first_name}}">
            </div>

            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input class="form-control" type="text" name="last_name" placeholder="{{user.last_name}}">
            </div>

            <div class="form-group">
                <label for="image-url">Image URL</label>
                <input class="form-control" type="text" name="image_url" placeholder="{{user.image_url}}">
            </div>
            
            <button class="btn btn-light" name="update" value="cancel">Cancel</button>
            <button class="btn btn-success" name="update" value="save">Save</button>
            
        </form>
        {% endblock %}
