
{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}

    {% block content %}
    <form id="fill-out" action="/edit-post/{{post.id}}" method="POST">

        <h1>Edit Post</h1>

        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" placeholder="{{post.title}}">
        </div>

        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" name="content" rows="5" cols="50" placeholder="{{post.content}}"></textarea>
        </div>

        {% for tag in tags %}
        {% if tag in post.tags %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="tags" value="{{tag.id}}" checked>
            <label class="form-check-label">{{tag.name}}</label>
        </div>
        {% else %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="tags" value="{{tag.id}}">
            <label class="form-check-label">{{tag.name}}</label>
        </div>
        {% endif %}
        {% endfor %}

        <button class="btn btn-success float-right" name="editPost" value="edit">Edit</button>
        <button class="btn btn-outline-info float-right mr-1" name="editPost" value="cancel">Cancel</button>
        </div>
        {% endblock %}