{% extends 'base.html' %}
{% block title %}Blogly{% endblock %}

    {% block content %}
    <div class="content text-center">
    <h1>Users</h1>
    <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item"><a href="/user-options/{{user.id}}">{{user.whole_name()}}</a></li>
        {% endfor %}
    </ul>
    <a href="/add-user"><button type="button" class="btn btn-primary">Add User</button></a>
    <a href="/create-tag"><button type="button" class="btn btn-primary">Add Tag</button></a>
    <br>
    <a href="/show-all-tags"><button type="button" class="btn btn-primary">Edit Tags</button></a>
    
    {% endblock %}
