{% extends 'base.html' %}
{% block title %}New User{% endblock %}

    {% block content %}
    
    <form class="content" action="/" method="POST">
        <h1>Create a User</h1>
        <div class="form-group">

        <label for="first-name">First Name</label>
        <input class="form-control" type="text" name="first_name" placeholder="Enter a first name">
        </div>
        <div class="form-group">

        <label for="last-name">Last Name</label>
        <input class="form-control" type="text" name="last_name" placeholder="Enter a last name">
        </div>
        <div class="form-group">

        <label for="image-url">Image URL</label>
        <input class="form-control" type="text" name="image_url" placeholder="Provide an image of this user">
        </div>

        <button class="btn btn-light" name="add" value="cancel">Cancel</button>
        <button class="btn btn-primary" name="add" value="add">Add</button>
    </form>
{% endblock %}