
{% extends 'base.html' %}
{% block title %}{{user.whole_name()}} Details{% endblock %}

    {% block content %}
    <div class="content d-flex justify-content-between">

        <div>
            <img src="{{user.image_url}}" alt="{{user.whole_name()}} photo">
        </div>

        <div class="detail-option">
            <h1>{{user.whole_name()}}</h1>

            <form class="detail-button" action="/user-options/{{user.id}}" method="POST">
                <button class="btn btn-primary" name="submit" value="edit">Edit</button>
                <button class="btn btn-danger" name="submit" value="delete">Delete</button>
            </form>

            <h2>Posts</h2>

            <ul>
                {% for post in posts %}
                <li><a href="/post-details/{{post.id}}">{{post.title}}</a></li>
                {% endfor%}
            </ul>

            <a href="/new-post-form/{{user.id}}"><button class="btn btn-primary">Add Post</button></a>

        </div>
    </div>
    {% endblock %}
